<% if @mers %>

  <h1>Results</h1>

  <table class = "table table-hover ">
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Leading</th>
        <th>Lagging</th>
      </tr>
    </thead>

    <tbody>
      <% @mers.each do |mer| %>
        <% if mer.sequence == params[:search]  or mer.leading == params[:search] or mer.lagging == params[:search]%>
          <tr class = "success">
        <% else %>
          <tr>
        <% end %>
          <td><%= mer.sequence %></td>
          <td class="col-md-4"><%= Genome.splitStarts(mer.leading) %></td>
          <td class="col-md-4"><%= Genome.splitStarts(mer.lagging) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>