<h1>Listing mer20s</h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th>Leading</th>
      <th>Lagging</th>
      <th>Genome</th>
    </tr>
  </thead>

  <tbody>
    <% @mer20s.each do |mer20| %>
      <tr>
        <td><%= mer20.sequence %></td>
        <td><%= mer20.leading %></td>
        <td><%= mer20.lagging %></td>
        <td><%= mer20.genome_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>