<% if @mers %>

  <h1>Results</h1>

  <table class = "table table-hover">
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Leading</th>
        <th>Lagging</th>
      </tr>
    </thead>

    <tbody>
      <% @mers.each do |mer| %>
        <% if mer.sequence == params[:search] %>
          <tr class = "success">
        <% else %>
          <tr>
        <% end %>
          <td><%= mer.sequence %></td>
          <td><%= mer.leading %></td>
          <td><%= mer.lagging %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>